

/* .overlay-modal{
    background-color: rgba(46, 47, 66, 0.4);
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-modal.is-open {
    opacity: 1;
    pointer-events: auto;
} */
/* .modal{

    padding: 72px 24px 24px 24px;
} */

/* .pr-pol-text{
    color: #4D5AE5;
    text-decoration: underline;
} */



