
.footer-page {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    background-color: #2E2F42;
}

.footer-logo-head {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo-text {
    color: #f4f4fd;
}

.footer-paragraph-text {
    color: #FFFFFF;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    max-width: 264px;
}

.content-footer {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    align-items: baseline;
    justify-content: space-between;
}

.social-media-block {
    display: flex;
    flex-direction: column;
   
}
.logo-block{
    margin-right: 120px;
}
.social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.social-list-footer {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-link-footer {
    width: 40px;
    height: 40px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #31D0AA;
}

.social-icon {
    fill: #f4f4fd;
}
.overlay-modal{
    background-color: rgba(46, 47, 66, 0.4);
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-modal.is-open {
    opacity: 1;
    pointer-events: auto;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #FCFCFC;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}
.modal-title{
    color: #2E2F42;
    font-weight: 500;
    margin-bottom: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
}
.input-svg {
    position: relative;

}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 4px;
}
.form-input:focus {
    border-color: #4D5AE5;
}

.form-input-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.input-svg:focus-within .form-input-icon {
    fill: #4D5AE5;
}


.form-label{
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
}
.form-textarea{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4,0,0.2,1);
    margin-top: 4px;
}
.form-textarea:focus {
    border-color: #4d5ae5;
}
.privacy-policy{
    margin-bottom: 24px;
    
}

.pr-pol-text{
    color: #4D5AE5;
    text-decoration: underline;
}
.form-btn{
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    margin: 0 auto;
}
.close-btn {
    display: flex;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.close-btn:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff
}
.close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff
}
.icon-close{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.lbl-user-privacy{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.link-pp{
    color: #4d5ae5;
    text-decoration: underline;
}
.sub-p{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;

}
.txtarea{
    margin-bottom: 16px
}
.form-sub{
    display: flex;
    gap: 24px;
}

.input-sub{
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    outline: transparent;
}
.input-sub::placeholder{
    color: #ffffff;
}
.btn-sub{
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    fill: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-sub:hover{
    background-color: #404BBF;
}
.btn-sub:focus {
    background-color: #404BBF;
}
.btn-sub-icon{
    margin-left: 16px;
}



.span-user-privacy {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.span-user-privacy.checked {
    background-color: #F4F4FD;
}
.input-checked-icon{
    fill: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checked-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
input[type="checkbox"]:checked+label .span-user-privacy {
    background-color: #404bbf;
    fill: #F4F4FD;
    border: none;
}
.form-block{
    margin-bottom: 8px;
}